.myPost{
  background-color: #fff;
  border-radius: 5px;
  padding: 0 1vmax 2vmax;
  margin-bottom: 10px;
}
.myPost > img {
  width: 100%;
  max-height: 40vmax;;
}
.buttonText2{
    font-weight: 500;
    text-transform: capitalize;
}
.Dialogbox-scroll div::-webkit-scrollbar{
    display: none !important;
  }

  .myPostFooter>button {
    color: rgba(0, 0, 0, 0.767);
    /* padding: 10px; */
    cursor: pointer;
  }
  
  
  .myPostFooter>button:hover {
    background-color: whitesmoke;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  
  .myPostFooter>button>svg {
    font-size: 24px;
  }
  .my-postDetails-wrapper {
    display: flex;
    padding: 1vmax;
  }

  .my-postDetails-wrapper>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 1vmax;
  }

  
@media only screen and (max-width: 319px){
  .DialogBoxMyPost {
    width: 180px;
    height: 400px;
    padding: 10px;
  
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px){
  .DialogBoxMyPost {
    width: 256px;
    height: 490px;
    padding: 10px;
  
  }
}
@media only screen and (min-width: 479px) and (max-width: 767px){
  .DialogBoxMyPost {
    width: 266px;
    height: 490px;
    padding: 10px;
  
  }
}
@media only screen and (min-width: 767px) and (max-width: 979px){
  .DialogBoxMyPost {
    width: 286px;
    height: 490px;
    padding: 10px;
  
  }
}
@media only screen and (min-width: 979px){
  .DialogBoxMyPost {
    width: 356px;
    height: 490px;
    padding: 10px;
  
  }
}