.update-password {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.row-up-pass {
  --bs-gutter-x: 0 !important;
}

body {
  background-color: #edf0f5;
}

.bg-color-2 {
  background-color: rgb(240, 240, 240);
}

.update-password-header {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.update-password-dataform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.update-password-dataform-password {
  padding: .8rem;
  margin: 1rem;
  border-radius: 2.5px;
  outline: none;
  border: 1px solid rgb(229, 224, 224);
  background-color: rgb(229, 224, 224);
}

.update-password-dataform-button {
  padding: .8rem;
  margin-top: 10px;
  border-radius: 2.5px;
  font-weight: 400;
  outline: none;
  border: none;
}

.dont-have-acc {
  padding: .5rem;
}

.bg-color {
  background-color: rgb(229, 224, 224);
}

.image-pass-update {
  max-width: 210px;
}