.register {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.register-header {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.register-subheader {
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
}

.register-dataform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-dataform-email {
    padding: .8rem;
    margin: .5rem;
    border-radius: 2.5px;
    outline: none;
    border: none;
}

.register-dataform-password {
    padding: .8rem;
    margin: .5rem;
    border-radius: 2.5px;
    outline: none;
    border: none;
    position: relative;
}

.register-dataform-button {
    padding: .8rem;
    margin: .5rem;
    border-radius: 2.5px;
    outline: none;
    border: none;
}

.register-container {
    /* width: 25rem; */
    padding: 2rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.dont-have-acc {
    padding: .5rem;
}

.register-show-pass {
    position: fixed;
    top: 59.5%;
    left: 70%;
}

.register-image-button::-webkit-file-upload-button {
    padding: .8rem;
    margin: 1rem;
    border-radius: 30px;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #ffffff;
    opacity: .4;
    margin-top: 10px;
    width: 50%;
}

.reg-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}