.add-story-box {
    position: relative;
    border-radius: 10px;
    height: 12.5rem;
    width: 7rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: white;
    margin-right: 11px;
}

.plus-Button-add-story {
    position: absolute;
    cursor: pointer;
    top: 7.6rem;
    left: 1rem;
}

.add-story-img {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 7rem;
    height: 158px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    margin-right: 10px;
    transition: transform 100ms ease-in;
    -webkit-transition: transform 100ms ease-in;
    -moz-transition: transform 100ms ease-in;
    -ms-transition: transform 100ms ease-in;
    -o-transition: transform 100ms ease-in;
    cursor: pointer;
}