.search-user {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #edf0f5;
}
.search {
    background-image: linear-gradient(to right, #fff5bc, #cec1ff);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
  }
 
  .height-max {
    max-height: 350px;
  }
  body {
    background-color: #edf0f5;
  }

  .searchResults-div::-webkit-scrollbar, body::-webkit-scrollbar{
    display: none;
  }
  
  .search-input {
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    outline: none;
  }
  
  .searchResults {
    overflow-y: auto;
  }
  
  .image-search-up{
    max-width: 100px;
  }
  .update-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }