.users-list-to-show {
    width: 100%;
    padding: 2vmax;
    box-sizing: border-box;
    overflow-y: auto;
    position: sticky;
    top: 80px;
    background-color: white;
    border-radius: 10px;
    /* border: 1px solid lightgray; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 39.38rem;
}
.users-list-to-show::-webkit-scrollbar, body::-webkit-scrollbar{
    display: none;
  }

.users-list-to-show>img {
    height: 3vmax;
    width: 3vmax;
    margin: 1vmax;
    border-radius: 100%;
    border: 3px solid rgb(255, 201, 201);
}
