.account-texts {
  color: rgba(0, 0, 0, 0.767);
  font-weight: bolder;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.acc-span {
  font-weight: bolder;
  color: rgb(14, 0, 29);
}

.account {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 400px;
  height: 92vh;
}

.cover-profile-name {
  padding-top: 5px;
  font-size: 25px;
  font-weight: bold;
  margin-left: 50px;
}

.cover-profile-cat {
  color: grey;
  font-size: 18px;
  margin-left: 50px;
}

.CoverPage {
  padding-top: 25px;

}

.samplepost {
  width: 100% !important;
}

.CoverPage_avatar {
  margin-bottom: 10px;
  margin-left: 50px;
}


.userProfile_main {
  padding-top: 20px;
}

.icons-in-cover-pic {
  cursor: pointer;
}

.profilepic__icon {
  cursor: pointer;
}
.no-post-account{
  margin:0px 12px 8px 12px;
  padding: 54px;
}
