.UserPost{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Userpost_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Userpost_info{
    margin-left: 10px;
    font-size: 12px;
    color: grey;
    display: flex;
    justify-content: space-between !important;
}
.Userpost_body{
    overflow-wrap: anywhere;
}
.Userpost_info > h2 {
    font-size: 15px;
}
.Userpost_buttons{
    display: flex;
    
}
.gridOfUser{
    padding-top: 20px;
    padding-bottom: 20px;
}

.editDeleteButton{
    opacity: 40%;
}
.postUSerName{
    padding: 10px;
}
.postUSerMessage{
    padding-left: 60px;
}
.editDeleteButton{
    display: flex;
}