.home-right {
  position: sticky;
  top: 80px;

  height: 38rem;
  /* width: 20%; */
}

.home-left {
  position: sticky;
  /* width: 20%; */
}

.home-center {
  /* width: 60%; */
}

.fullBodyHome {
  background-color: #f3f2ef;
}